-
    const defaultFieldProps = {
        classes: '',
        tag: 'input',
        type: 'text',
        placeholder: '',
        inputAttr: {},
        selectOptions: [
            {
                value: "вариант 1",
                isActive: false
            },
            {
                value: "вариант 2",
                isActive: false
            }
        ],
        selectNoForm: false,
        hasError: false
    }

mixin field(props = defaultFieldProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFieldProps.classes,
            tag: props.tag ? props.tag : defaultFieldProps.tag,
            type: props.type ? props.type : defaultFieldProps.type,
            placeholder: props.placeholder ? props.placeholder : defaultFieldProps.placeholder,
            inputAttr: props.inputAttr ? props.inputAttr : defaultFieldProps.inputAttr,
            selectOptions: props.selectOptions ? props.selectOptions : defaultFieldProps.selectOptions,
            selectNoForm: props.selectNoForm ? props.selectNoForm : defaultFieldProps.selectNoForm,
            hasError: props.hasError ? props.hasError : defaultFieldProps.hasError,
        }

    label.field(class= `${checkProps.classes} ${checkProps.resetBtn ? "field--reset" : ""} ${checkProps.selectNoForm === true ? 'field--noFormSelect' : ''} ${checkProps.type === 'radio' ? 'field--radio' : ''} ${checkProps.type === 'checkbox' ? 'field--checkbox' : ''}` data-js='formField')&attributes(attributes)
        - if(checkProps.tag === 'input')
            input.field__input(type=checkProps.type placeholder=checkProps.placeholder)&attributes(checkProps.inputAttr)
            - if(checkProps.type === 'radio')
                span.fake-radio

            - else if(checkProps.type === 'checkbox')
                span.fake-checkbox
                - if(checkProps.hasError === true)
                    span.field__error(data-js='fieldError') Нужно обязательно ознакомиться и согласиться

            - else
                - if(checkProps.hasError === true)
                    span.field__error(data-js='fieldError')

        - if(checkProps.tag === 'textarea')
            textarea.field__textarea(rows="6" placeholder=checkProps.placeholder)&attributes(checkProps.inputAttr)
            - if(checkProps.hasError === true)
                span.field__error(data-js='fieldError')

        - if(checkProps.tag === 'select')
            select.field__select(data-placeholder=checkProps.placeholder data-js='formSelect')&attributes(checkProps.inputAttr)
                - let optionCount = 0
                - while (optionCount < checkProps.selectOptions.length)
                    - if(checkProps.selectOptions[optionCount].value.length > 0)
                        - if(checkProps.selectOptions[optionCount].isActive === true)
                            option(value=checkProps.selectOptions[optionCount].value selected)!= checkProps.selectOptions[optionCount].value
                        -else
                            option(value=checkProps.selectOptions[optionCount].value)!= checkProps.selectOptions[optionCount].value
                    - else
                        option(label=" ")!= checkProps.selectOptions[optionCount].value
                    - optionCount++
            - if(checkProps.hasError === true)
                span.field__error(data-js='fieldError')
