-
    const defaultBtnProps = {
        classes: '',
        name: 'Кнопка',
        cMode: '',
        sMode: '',
        type: 'link',
        link: 'javascript:void(0);',
        buttonType: 'button',
        icon: '',
        iconLeft: false
    }

mixin btn(props = defaultBtnProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultBtnProps.classes,
            name: props.name ? props.name : defaultBtnProps.name,
            cMode: props.cMode ? props.cMode : defaultBtnProps.cMode,
            sMode: props.sMode ? props.sMode : defaultBtnProps.sMode,
            type: props.type ? props.type : defaultBtnProps.type,
            link: props.link ? props.link : defaultBtnProps.link,
            buttonType: props.buttonType ? props.buttonType : defaultBtnProps.buttonType,
            icon: props.icon ? props.icon : defaultBtnProps.icon,
            iconLeft: props.iconLeft ? props.iconLeft : defaultBtnProps.iconLeft,
        }

        let colorClass = checkProps.cMode ? ` vt-btn--${checkProps.cMode}` : ''
        let sizeClass = checkProps.sMode ? ` vt-btn--${checkProps.sMode}` : ''
        let iconPosClass = checkProps.iconLeft === true ? ` vt-btn--reverse` : ''
        let iconSizeClass = checkProps.icon == 'btn_chevron' ? ' vt-btn--i13' : ''

    - if(checkProps.type == 'link')
        a.vt-btn(class=checkProps.classes + colorClass + sizeClass + iconPosClass + iconSizeClass href= checkProps.link)&attributes(attributes)
            if(checkProps.sMode !== 'icon')
                span.vt-btn__text!= checkProps.name
            if(checkProps.icon.length > 0)
                span.vt-btn__separator
                svg 
                    use(xlink:href=`img/sprites/sprite.svg#${checkProps.icon}`)

    - else if(checkProps.type == 'button')
        button.vt-btn(class=checkProps.classes + colorClass + sizeClass + iconPosClass + iconSizeClass type= checkProps.buttonType)&attributes(attributes)
            if(checkProps.sMode !== 'icon')
                span.vt-btn__text!= checkProps.name
            if(checkProps.icon.length > 0)
                span.vt-btn__separator
                svg 
                    use(xlink:href=`img/sprites/sprite.svg#${checkProps.icon}`)

